# Configuración de la Base de Datos PostgreSQL
# Copia este archivo como .env.local y reemplaza los valores para ejecutar manualmente dentro de Frotend sin Docker
# Ejecutar el Frontend con next.js: npm run dev 

DB_HOST=your_host_here
DB_PORT=your_port_here
DB_NAME=your_db_name_here
DB_USER=your_db_user_here
DB_PASSWORD=your_password_here
