# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=your_postgresql_db_name_here
POSTGRES_PORT="your internal port (usually 5432)"

# Application User (role created automatically by init scripts)
APP_USER=app_library          # You can change this or leave the default value, its not hardcoded
APP_PASSWORD=your_app_password_here  # You can change this or leave the default value, its not hardcoded

# Node Environment
NODE_ENV=production
NEXT_PUBLIC_APP_PORT=3000
