services:
  postgres:
    image: postgres:16-alpine
    container_name: biblioteca-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./DataBase:/docker-entrypoint-initdb.d:ro
    networks:
      - biblioteca-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  nextjs:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: biblioteca-app
    restart: unless-stopped
    ports:
      - "${NEXT_PUBLIC_APP_PORT}:3000"
    environment:
      - DATABASE_URL=postgresql://${APP_USER}:${APP_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}
      - NODE_ENV=${NODE_ENV}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - biblioteca-net

volumes:
  postgres_data:

networks:
  biblioteca-net:
    driver: bridge